@media (min-width: 769px) {
  /* GLOBAL */
  .container {
    width: calc(100% - 40px);
  }

  /* NAVIGATION */
  .nav-items {
    display: flex;
    gap: 50px;

    font-size: 18px;
    font-weight: 400;

    cursor: pointer;
  }

  .disabled {
    cursor: not-allowed;
  }

  /* HEADER */
  .main-header-content {
    width: 50%;
    max-width: none;
  }

  /* OUR CREW */
  .our-crew-h2 {
    text-align: left;
  }

  .person {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .person:nth-of-type(even) {
    flex-direction: row-reverse;
  }

  .person-description {
    text-align: start;
  }

  /* .person-description:nth-of-type(even) {
    text-align: right;
  } */

  /* SERVICES */

  .services-h2 {
    font-size: 36px;
    text-align: left;
  }

  .service-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;

    margin: 0 auto;

    width: 500px;
  }

  .service-box {
    width: 200px;
    height: 200px;
  }
  .new-service-dot {
    width: 20px;
    height: 20px;

    top: -10px;
    left: -10px;
  }

  /* FOOTER */
  .footer {
    height: 70px;
  }
  .footer-content {
    flex-direction: row;
    justify-content: space-between;
  }
}
